@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.photo-frame {
  display: block;
  box-sizing: border-box;
  position: relative;
  align-self: center;
  cursor: grab;
  object-fit: cover;
  border-radius: 3%;
  box-shadow:
    rgb(0 0 0 / 20%) 0 3px 3px -2px,
    rgb(0 0 0 / 14%) 0 3px 4px 0,
    rgb(0 0 0 / 12%) 0 1px 8px 0;
}

.photo-frame:hover {
  transform: scale(1.02);
}

.react-photo-album--photo {
  object-fit: cover;
  border-radius: 3%;
}

.react-photo-album--photo-cover {
  object-fit: cover;
  border-radius: 3%;
  border: 3px solid #86d6df;
}

.photo-frame.overlay {
  cursor: grabbing;
}

.photo-frame.active,
.photo-frame.active img {
  opacity: 0.6;
}

.photo-frame.insertBefore:before,
.photo-frame.insertAfter:after {
  content: '';
  position: absolute;
  background-color: #f9ac2b;
  border-radius: 1px;
  width: 2px;
  height: 100%;
  top: 0;
  left: -10px;
  right: -10px;
}
