@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-photo-album--row {
  justify-content: space-around !important;
}

.react-photo-album--photo {
  border-radius: 3%;
  object-fit: cover;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.05);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.05);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.05);
}

.photo-frame{
  padding: 0.5%;
  align-self: center;
}

.react-photo-album--photo:hover {
  opacity: 0.8;
  transform: scale(1.02);
}